@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'additional-styles/utility-patterns.css';


html {
    scroll-behavior: smooth;
    font-family: 'Raleway', sans-serif;
}

.custom-img {
    background-image: url("/images/dalle2.png");
}

/* styles/global.css */
@font-face {
    font-family: 'Alliance No. 2 Medium';
    src: url('/fonts/AllianceNo.2-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
      font-family: 'Alliance No. 2 Regular';
      src: url('/fonts/AllianceNo2-Regular.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
      font-display: swap;
    }

    @font-face {
        font-family: 'Alliance No. 2 Light';
        src: url('/fonts/AllianceNo2-Light.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }